:root { 
--gray_700:#666666; 
--blue_gray_100:#d9d9d9; 
--blue_gray_50:#eaedf2; 
--gray_800:#393939; 
--blue_gray_600:#5f6b7f; 
--gray_900:#08173b; 
--blue_gray_500:#6f6c99; 
--gray_100:#f4f6fa; 
--light_blue_800:#0071bc; 
--blue_gray_500_01:#6e6b99; 
--white_A700_01:#fdfdff; 
--deep_orange_A700:#f72116; 
--blue_gray_700:#4c4c66; 
--blue_gray_600_0c:#606c800c; 
--white_A700:#ffffff; 
--blue_gray_700_ab:#4c4b66ab; 
--light_blue_800_a2:#0071bca2; 
}